.redColor{
    color: red;
}

.bgyellow{
    background-color: yellow;
}

.form-result{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.active{
    color: red;
    font-weight: bold;
    background-color: yellow;
}