<h1 [class.redColor] = 'boolClass'>Angular App</h1>
<p [style.color] = "boolClass ? 'red' : 'black'" >{{message}}</p>

<!-- Event Binding-->
<button (click) = "onClick()">Click Me</button>

<!-- Event Filtering -->
<input type="text" (keyup.enter) = "onKeyUp($event)">

<!-- Template Variable -->
<input type="text" (keyup.enter) = "onKeyUpVariable(myInput.value)" #myInput>

<!-- One way Binding -->
<input type="text" [value] = "userName">

<!-- Two Way Binding -->
<input type="text" [(ngModel)] = "userName" (keyup.enter) = " onKeyUpTwoWayBinding()">

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)="receiveMessage($event)"></app-post>
